

h1{
    padding-top:20px; color: rgb(41, 4, 249);font-style: italic;text-align: center;
    }
    button{
    color:rgb(29, 3, 63); background-color: rgba(229, 215, 215, 0.988);margin:
    30px;text-align:center;align-items:center;font-size: larger;
    }
    